.form{
    display: flex;
    flex-direction: column;
    margin: 132px 100px 0;
    gap: 20px;
}

.signInH{
    font-size: 32px;
    font-weight: 700;
}

.justLabe h3{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
    gap: 5px;
    margin-bottom: 10px;
}

.field{
    padding: 16px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.errorMsg{
    color: red;
    font-size: 12px;
    font-weight: 700;
}

.sbmBtn{
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    border: none;
    background-color: #9be1a0;
    margin-top: 40px;
    cursor: pointer;
}

.sbmBtn:hover{
    background-color: #7bcf8e;
}

.passSect{
    position: relative;
    display: flex;
}

.eyeSlash{
    position: absolute;
    right: 20px;
    width: 25px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aquaLogo{
    width: max-content;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: rgb(50, 63, 71);
    font-size: 24px;
    font-weight: 600;
}

.aquaLogo:hover{
    color: #9be1a0;
}

.toastStyle{
    background-color: rgb(255, 82, 82);
    min-width: 200px;
    padding: 12px 14px 12px 14px;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.closeToast{
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn{
    width: 32px;
    height: 32px;
}