.firsBlock{
    display: flex;
    gap: 32px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 24px 32px;
    color: rgb(50, 63, 71);
}

.trackBlock{
    background-color: #f0eff4;
    width: 100%;
    border-radius: 20px;
    padding: 32px 32px 50px 70px;
}
