*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #242424;
    max-width: 1470px;
    margin: 18px 80px;
    padding: 20px 40px;
    display: flex;
    border-radius: 25px;
    border: solid 1px black;
    box-shadow: -10px 5px 5px black;
}

.links{
    width: 100%;
    list-style-type: none;
    display: flex;
    margin: 0 360px;
    justify-content: space-between;
}

.lastBlockHeader{
    display: flex;
}

.bubble{
    width: 24px;
    height: 24px;
}

.user{
    width: 24px;
    height: 24px;
}



