*{
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  /* background-color: rgb(56,56,56); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TrackBlock{
  display: flex;
  gap: 32px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 24px 32px;
  color: rgb(50, 63, 71);
}